@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
body {
    min-width:600px!important;
    /* background-color: red; */
    overflow: hidden;
}

button {
    border-radius: 4px;
}

#Accuracy a{
    display: flex;
    color: gray;
}

.modal-header {
    border-bottom: none!important;
}

.modal-content button{
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

/* Calibration button styling */
.Calibration{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: red;
    opacity: 0.2;
    border-color: black;
    border-style: solid;
    position:fixed;
}

/* Calibration point position */
#Pt1{
    top: 2vw;
    left: 2vw;
}
#Pt2{
    top: 2vw;
    left:50vw;
}
#Pt3{
    top: 2vw;
    right:2vw;
}
#Pt4{
    top:50vh;
    left:2vw;
}
#Pt5{
    top: 50vh;
    left: 50vw;
}
#Pt6{
    top: 50vh;
    right:2vw;
}
#Pt7{
    bottom:2vw;
    left: 2vw;
}
#Pt8{
    bottom:2vw;
    left:50vw;
}
#Pt9{
    bottom:2vw;
    right:2vw;
}

.MyWork{
    padding: 2vh;
    /* display: flex; */
    display: grid;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.title{
    display: flex;
    justify-content: end;
    font-family: 'Lora', serif;

}
.MyWork h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vw;
    margin: 0;
    padding: 3vh;
    font-weight: 500;
}
.summary{
    width: 12vw;
    padding: 0;
    text-align: justify;
    text-align-last: justify;
    margin: auto;
    margin-right: 0;
    margin-left: 5vw;
    font-size: 1vw;
}
.myID{
    height: 12vh;
    margin: auto;
    margin-left: 5vw;
    margin-right: 0;
    padding-right: 1.5vw;
}

.MyWork h2{
    font-size: 1vw;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}
.info{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    padding: 1.5vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.data{
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap;  */
    /* justify-content: space-around; */
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    /* border:1px red solid; */

    font-family: 'Lora', serif;
}

.datas{
    margin-right: 1vw;
    margin-left: 1vw;
    text-align: justify;
    text-align-last: justify;
    font-size: 2vw;
    /* border:1px blue solid; */
}

.data font{
    margin:1vw;
}

.data-2{
    justify-content: space-between;
    /* padding: 1vw; */
    /* border: #000 1px solid; */
}

.data-lg{
    font-size: 3.5vw;
    /* border:1px green solid; */
}
.data-sm{
    font-size: 2vw;
    line-height:2;
    /* border:1px pink solid; */
    /* margin: 0.5vw; */
}
/* .data-key:hover {
    transform: scale(1.2);
}

.data-key:hover~.data-key-fm {
    color: blue;
} */

/* .excluded{
    transform: scale(1) !important;
} */

@keyframes rehoveredAnimation {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hoveredAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

/*hover family*/
.rehovered {
    animation: rehoveredAnimation 0.3s 0s ease-in forwards;
}

.hovered {
    /* animation: hoveredAnimation 0.3s 0s ease-in forwards; */
    transform: scale(1.2);
}

.hovered-fm {
    color: blue;
}

#key.hovered ~ #house, 
#key.hovered ~ #game {
    background-color: black;
    color: #fff;
}

.input-container{
    width: 100%;
    max-width: 650px;
    position: relative;
}

input{
    width: 100%;
    font-size: 20px;
    padding: 10px;
}

#submit-icon{
    position: absolute;
    top: 20px;
    right: 30px;
}

.show{
    position: relative;
    top: 40vh;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#image-bg{
    height: 256px;
    max-width: 100%; /* 设置最大宽度为100% */
    /* background-image: url(../1.png); */
    position: absolute;
    z-index: 2;
    /* transform: translate(-50%, -50%); */
}

#image-section{
    position: absolute;
    z-index: 1;
    height: 256px;
    /* max-width: 100%; */
    width: 100%;;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    background-image: url(../The_False_Mirror.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#bg{
    position: absolute;
    z-index: 2;
    height: 256px;
    width: 100%;;
    background-image: url(../The_False_Mirror.jpg);
}

#image-bg-sky {
    height: 256px;
    max-width: 100%; /* 设置最大宽度为100% */
    /* background-image: url(../1.png); */
    position: absolute;
    z-index: -1;
}

@keyframes dissolve {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      animation-timing-function: ease-in-out;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.image-container.fade-in {
    animation: fadeIn 5s ease-in-out; /* 設定淡入動畫，時間可以根據需要調整 */
}