body {
    min-width:600px!important;
    /* width: 100%;
    height: 100%; */
    /* background-color: red; */
    /* overflow: hidden; */
}

button {
    border-radius: 4px;
}

#Accuracy a{
    display: flex;
    color: gray;
}

.modal-header {
    border-bottom: none!important;
}

.modal-content button{
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

/* Calibration button styling */
.Calibration{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: red;
    opacity: 0.2;
    border-color: black;
    border-style: solid;
    position:fixed;
}

/* Calibration point position */
#Pt1{
    top: 2vw;
    left: 2vw;
}
#Pt2{
    top: 2vw;
    left:50vw;
}
#Pt3{
    top: 2vw;
    right:2vw;
}
#Pt4{
    top:50vh;
    left:2vw;
}
#Pt5{
    top: 50vh;
    left: 50vw;
}
#Pt6{
    top: 50vh;
    right:2vw;
}
#Pt7{
    bottom:2vw;
    left: 2vw;
}
#Pt8{
    bottom:2vw;
    left:50vw;
}
#Pt9{
    bottom:2vw;
    right:2vw;
}

.data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    border:1px #ccc solid;
    margin:50px;
    font-size: 4vw;
}

.data font{
    margin:1vw;
}

/* .data-key:hover {
    transform: scale(1.2);
}

.data-key:hover~.data-key-fm {
    color: blue;
} */

.data-ul li{
    display:inline;
    /* display: flex; */
    /* border:1px #ccc solid; */
    margin-right:50px;
    font-size: 4vw;
}

/* .excluded{
    transform: scale(1) !important;
} */

@keyframes rehoveredAnimation {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hoveredAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.rehovered {
    animation: rehoveredAnimation 0.3s 0s ease-in forwards;
}

.hovered {
    /* animation: hoveredAnimation 0.3s 0s ease-in forwards; */
    transform: scale(1.2);
}

.hovered-fm {
    color: blue;
}

#key.hovered ~ #house, 
#key.hovered ~ #game {
    color: blue;
}

.input-container{
    width: 100%;
    max-width: 650px;
    position: relative;
}

input{
    width: 100%;
    font-size: 20px;
    padding: 10px;
}

#submit-icon{
    position: absolute;
    top: 10px;
    right: 30px;
}

.show{
    position: relative;
    top: 40vh;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#image-bg{
    height: 256px;
    max-width: 100%; /* 设置最大宽度为100% */
    /* background-image: url(../1.png); */
    position: absolute;
    z-index: 2;
    /* transform: translate(-50%, -50%); */
}

#image-section{
    position: absolute;
    z-index: 1;
    height: 256px;
    /* max-width: 100%; */
    width: 100%;;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    background-image: url(../The_False_Mirror.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}